/* Baseado en https://github.com/frontaid/natural-selection */

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
Tipografias
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

/* Texto */

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/inter.ttf") format("truetype-variations");
  font-weight: 100 900;
}

@font-face {
  font-family: "Mabry";
  src: url("/assets/fonts/mabry.ttf") format("truetype-variations");
  font-weight: 100 900;
}

/* Titulos */

@font-face {
  font-family: "Gazpacho";
  src: url("/assets/fonts/gzpch_bold.ttf") format("truetype");
  font-weight: 800;
}

/* Raiz do documento */
/* Aqui definimos todolas variables globais */

:root {
  --font-text: "Mabry";
  --font-title: "Gazpacho";

  --bg: #ffffff;
  --fg: #14151a;
  --accent: #3960e3;
  --ok: #639464;
  --error: #d1525e;

  --bg-base: #ffffff;
  --bg-lighter: color-mix(in oklab, var(--bg-base) 20%, var(--bg));
  --bg-light: color-mix(in oklab, var(--bg-base) 10%, var(--bg));
  --bg-dark: color-mix(in oklab, black 15%, var(--bg));
  --bg-darker: color-mix(in oklab, black 25%, var(--bg));

  --nav-height: 4rem;
  --spacing: 1rem;
  --radius: 0.5rem;

  --trans-time: 0.3s;

  font-family: var(--font-text);

  color: var(--fg);
  accent-color: var(--accent);
  scroll-behavior: smooth;
}

:root[accessible="true"] {
  --font-text: "Inter";
  --font-title: "Inter";

  --bg: white;
  --fg: black;
  --accent: black;

  --spacing: 1.5rem;
}

body {
  display: flex;
  flex-direction: column;

  /* margin-top: var(--nav-height); */
  padding: 0 calc(var(--spacing) * 2);

  background-color: var(--bg);
}

.contido {
  min-height: calc(100vh - var(--nav-height) - var(--spacing) * 3 - 1rem);
}

/* Universal */

*,
*::before,
*::after {
}

* {
  transition: all var(--trans-time) cubic-bezier(0.12, 0.23, 0.44, 1.54);
}

/* Titulos */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-title);
  color: var(--accent);
  padding: var(--spacing) 0;
}
h1 {
}
h2 {
}
h3 {
}
h4 {
}
h5 {
}
h6 {
}

/* Navegacion */

nav {
}
nav ul,
nav ol {
}
nav li {
}
nav a {
}
nav a:visited {
}
nav a:hover {
}
nav a:active {
}

/* Seccions */

main {
}

article {
}

section {
}

aside {
}

search {
}

footer {
  margin-top: auto;
}

address {
}

/* Bloques de texto */

p,
ol,
ul,
pre,
blockquote,
figure,
hr,
dl {
}

p:not(:last-of-type) {
  margin-bottom: var(--spacing);
}

ol,
ul {
}
ol {
}
ul {
}
li {
}
ol ol,
ol ul,
ul ul,
ul ol {
}
li li {
}

pre {
}
pre code {
}
pre samp {
}

blockquote {
}

figure {
}
figcaption {
}

hr {
}

dl {
}
dt {
}
dd {
}

/* Enlaces */

a {
}
a:visited {
}
a:hover {
}
a:active {
}

/* Outro texto */

strong {
}
b {
}

em {
}
i {
}

q {
}
cite {
}

s {
}

mark {
}

small {
}
sub {
}
sup {
}

code {
}

dfn {
}
abbr {
}
abbr[title] {
}

var {
}
kbd {
}
kbd kbd {
}
samp {
}

u {
}

data {
}
time {
}

del {
}
ins {
}

/* Contido embedido */

img {
  border-radius: var(--radius);
}
svg {
}
video {
}
canvas {
}
audio {
}
object {
}

noscript {
}

/* Taboas */

table {
}
caption {
}
col:first-child {
}
thead {
}
tbody {
}
tfoot {
}
tr {
}
th {
}
td {
}

/* Formularios */

fieldset {
}
fieldset:disabled {
}
legend {
}

form {
}

label {
}

::placeholder {
}
:focus::placeholder {
}

input,
textarea,
select,
button {
  background-color: var(--accent);
  border: none;
  border-radius: var(--radius);
  outline: none;
}

button:hover {
  transform: scale(1.05);
  background-color: var(--fg);
}

textarea,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="search"],
input[type="url"],
input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="time"] {
  background-color: #00000000;
  color: var(--fg);
  width: 100%;
}

textarea {
}
input[type="text"] {
}
input[type="password"] {
}
input[type="email"] {
}
input[type="tel"] {
}
input[type="number"] {
}
input[type="search"] {
}
input[type="url"] {
}
input[type="date"] {
}
input[type="datetime-local"] {
}
input[type="month"] {
}
input[type="week"] {
}
input[type="time"] {
}

input[type="checkbox"],
input[type="radio"] {
}
input[type="checkbox"]:checked,
input[type="radio"]:checked {
}
input[type="checkbox"] {
}
input[type="checkbox"]:checked {
}
input[type="radio"] {
}
input[type="radio"]:checked {
}

input[type="file"] {
}
input[type="color"] {
}
input[type="range"] {
}

select {
}
optgroup {
}
option {
}
option:checked {
}
datalist {
}

/* Forumalarios invalidos e que foron interactuados */
form.interacted:invalid {
}
form.interacted :invalid,
form .touched:invalid {
}
:user-invalid {
}
:-moz-ui-invalid {
}

/* Botons */
button,
input[type="submit"] {
}
button:disabled,
input[type="submit"]:disabled {
}
button.secondary {
}
button.secondary:disabled {
}

/* Outros elementos de formularios */
output {
}

progress {
}
meter {
}

/* Elementos interactivos */

details {
}
details[open] {
}
summary {
}
details[open] summary {
}

dialog {
}
dialog::backdrop {
}

:focus {
}
:focus:not(:focus-visible) {
}
:focus-visible {
}

[inert],
[inert] * {
}

/* Media queries */

@media (prefers-reduced-motion: reduce) {
}

@media (prefers-color-scheme: dark) {
}

@media (orientation: portrait) {
}

@media (orientation: landscape) {
}

@media print {
}
